time_static doesn't follow rfc3339 but expects iso-8601 formatted date during import

<!---
Please note the following potential times when an issue might be in Terraform core:

* [Configuration Language](https://www.terraform.io/docs/configuration/index.html) or resource ordering issues
* [State](https://www.terraform.io/docs/state/index.html) and [State Backend](https://www.terraform.io/docs/backends/index.html) issues
* [Provisioner](https://www.terraform.io/docs/provisioners/index.html) issues
* [Registry](https://registry.terraform.io/) issues
* Spans resources across multiple providers

If you are running into one of these scenarios, we recommend opening an issue in the [Terraform core repository](https://github.com/hashicorp/terraform/) instead.
--->

<!--- Please keep this note for the community --->

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do not help prioritize the request
* If you are interested in working on this issue or have submitted a pull request, please leave a comment

<!--- Thank you for keeping this note for the community --->

### Terraform Version

<!--- Please run `terraform -v` to show the Terraform core version and provider version(s). If you are not running the latest version of Terraform or the provider, please upgrade because your issue may have already been fixed. [Terraform documentation on provider versioning](https://www.terraform.io/docs/configuration/providers.html#provider-versions). --->

### Affected Resource(s)

<!--- Please list the affected resources and data sources. --->

* time_static

### Terraform Configuration Files

<!--- Information about code formatting: https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code --->

```hcl
resource "time_static" "password_rotation" {
}
```

### Expected Behavior

on `terraform import time_static.password_rotation "2022-01-24 15:00:00+01:00"` a succesful import

### Actual Behavior

![image](https://user-images.githubusercontent.com/175623/150806931-bb6cbb10-3f1d-4c97-942c-8b2c87dc60a3.png)

### Important Factoids

RFC3339 allows a space, ISO-8601 enforces the 'T'.

Hi @dvdvorle 👋 Thank you for raising this.

[IETF RFC 3339 section 5.5](https://datatracker.ietf.org/doc/html/rfc3339#section-5.5) states the following:

> the complete grammar for ISO 8601 is deemed too complex for most Internet protocols. ...It is a conformant subset of the ISO 8601 extended format. Simplicity is achieved by making most fields and punctuation mandatory.

While [IETF RFC 3339 section 5.6](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) uses the following terminology with respect to a space character between the date and time:

> NOTE: ISO 8601 defines date and time separated by "T". Applications using this syntax may choose, for the sake of readability, to specify a full-date and full-time separated by (say) a space character.

This provider's preference is to use the upstream Go standard library implementation, found in the [`time.RFC3339` constant](https://pkg.go.dev/time#RFC3339), which enforces the `T` syntax. This explicit design choice is intended to follow the simplicity intention and introduce consistency throughout provider usage (including import) rather than complicate the implementation details to normalize any potentially acceptable ISO 8601 string into `time.RFC3339` format. 
 
If there is more interest in this in the future, we can certainly evaluate again. Thanks again though.

Hi @bflad, thank you for taking the time to look into this. You wrote

>[...] rather than complicate the implementation details to normalize any potentially acceptable ISO 8601 string into time.RFC3339 format.

I never asked for this provider to accept any ISO 8601 string, just any RFC3339 compliant string. ISO 8601 requires a 'T' separator, RFC3339 doesn't.  (The 'this' in the note in section 5.6 refers to RFC3339, not ISO 8601)

The upstream Go standard library documentation you linked to actually clarifies that the `time.RFC3339` main use is `Format`, not `Parse`.

>RFC3339, RFC822, RFC822Z, RFC1123, and RFC1123Z are useful for formatting; when used with time.Parse they do not accept all the time formats permitted by the RFCs and they do accept time formats not formally defined.

Though, nitpicking aside, I can't remember exactly why I needed to 'import' a time 😅... just that bash' `date --rfc-3339=seconds` had a different idea than terraform on the exact details of the standard. Probably very much an edge case so I can't fault you for closing this. Again thank you for your time.